h3{
    font-family: Arial;
    font-size: 25px;
    font-weight:normal;
    margin-left: 40px
}

h1{
    font-size: 40px;
    font-family: Arial;
     margin-left: 40px
}


#horizontal{
display: flex;
gap: 40px;
font-size: 30px;
font-family: Arial;
color: blue;
list-style:none;
}

#horizontal a{
    text-decoration: none;
}

body{
    margin: 10px 40px 0px 40px;
    border: 1px solid black;
    border-radius: 4px 3px 6px 10px;
    width: 750px
}

hr{
    margin: 20px 40px 20px 40px
}


h5{
    font-family: Arial;
    margin: 10px 40px 0px 40px;
    font-weight:normal;
    font-size: 15px;
}


.greybox{
    background-color: rgb(209, 209, 209);
    margin: 20px 40px 20px 40px;
    padding:5px 0px

}

.greyboxrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin: 10px 30px 10px 30px;
    font-family: Arial;
    font-size: 15px;

}